.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-png {
  height: 100px;
  width: 95px;
}

.header-space {
  height: 800px;
  margin-top: 1px;
}

.subtext-content {
  margin-left: 150px;
  margin-right: 150px;
}

.header-text {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  background-color: black;
  height: 800px;
  border-top: 2px solid white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
